In [1]:
import pandas as pd 
import numpy as np

#### **Load Dataset**

In [2]:
data = pd.read_csv('CrabAgePrediction.csv')
data.head()

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,F,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181,9
1,M,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222,6
2,I,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076,6
3,F,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657,10
4,I,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970,6

In [3]:
def fun(df):
    if df=='M':
        return 0
    elif df=='F':
        return 1
    else:
        return 2
data.Sex = data.Sex.apply(fun)

In [4]:
data.head()

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,1,1.4375,1.1750,0.4125,24.635715,12.332033,5.584852,6.747181,9
1,0,0.8875,0.6500,0.2125,5.400580,2.296310,1.374951,1.559222,6
2,2,1.0375,0.7750,0.2500,7.952035,3.231843,1.601747,2.764076,6
3,1,1.1750,0.8875,0.2500,13.480187,4.748541,2.282135,5.244657,10
4,2,0.8875,0.6625,0.2125,6.903103,3.458639,1.488349,1.700970,6

In [5]:
X = data.drop(['Age','Sex'],axis=1)
y = data.Age

#### **Split Data**

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [7]:
# from sklearn.preprocessing import StandardScaler
# numeric=['Weight','Shucked Weight','Viscera Weight','Shell Weight']
# scalar = StandardScaler()
# X_train[numeric] = scalar.fit_transform(X_train[numeric])
# X_test[numeric]  = scalar.transform(X_test[numeric])

#### **Model Building**

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

#### **Model Evaluation**

In [9]:
y_pred = model.predict(X_test)

In [10]:
from sklearn import metrics
print("Mean Squared Error", metrics.mean_squared_error(y_test, y_pred))

Mean Squared Error 4.714150114949805

In [11]:
print("Root Mean Squared Error", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error 2.1712093669081765